.pagina {
    padding-top: 15vh;
  }

.informacao {
  margin-top: 25px;
  margin-bottom: 20px;
}

.relatorio {
    display: grid;
    align-content: center;
    justify-items: center;
}

.periodoInicial, .periodoFinal {
  padding-left: 0;
}

.calendario {
  width: 320px;
  text-align: center;
}

table {
  background-color: white;
}