<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="btn-group" dropdown>
    <button class="btn btn-dark" dropdownToggle type="button" id="button-animated" data-toggle="dropdown">
      <span class="navbar-toggler-icon"></span>
    </button>
    <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu" role="menu">
      <li role="menuitem">
        <a class="nav-link" routerLink="funcionarios">Funcionários</a>
      <li role="menuitem">
        <a class="nav-link" routerLink="relatorios">Relatórios</a>
    </ul>
  </div>
  <span class="navbar-brand ml-3 mb-0 h1 text-md-center">Controle de Gastos</span>      
</nav>
    