.buscar {
  margin-right: 0;
  padding-right: 0;
}

.btn-relatorios {
  border-bottom: 2px solid thistle;
  padding-bottom: 14px;
}

.cadastro {
  margin-left: 0;
  padding-left: 0;
}

.container {
  padding-top: 15vh;
}

.link {
  color: white;
}

.link:hover {
  color: white;
  text-transform: none;
  text-decoration: none;
}

span {
  margin-left: 6px;
}

table {
  width: 100%;
  background-color: white;
}
