<div class="container">
    <div class="row">
        <app-titulo [titulo]="titulo"></app-titulo>
    </div>
    <div class="row">
        <div class="col mr-auto cadastro">
            <button type="button" class="btn btn-success btn-sm mt-2 mb-2" (click)="novoFuncionario(template)">Cadastrar Funcionário</button>
        </div>
    </div>
    <div class="row">
        <div class="table-responsive">
            <table class="table text-center">
                <thead class="thead-dark">
                    <tr class="h6">
                        <th>#</th>
                        <th scope="col">Nome</th>
                        <th scope="col">Sobrenome</th>
                        <th scope="col">Data de Admissão</th>
                        <th scope="col">Setor</th>
                        <th scope="col">Escala</th>
                        <th scope="col">Custo com VT</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody *ngFor="let funcionario of funcionarios">
                    <tr>
                        <th>{{funcionario.id}}</th>
                        <td>{{funcionario.nome}}</td>
                        <td>{{funcionario.sobrenome}}</td>
                        <td>{{funcionario.dataAdmissao | date:'longDate'}}</td>
                        <td>{{funcionario.setor}}</td>
                        <td>{{funcionario.escala}}</td>
                        <td>{{funcionario.custoDiarioVT | currency: 'BRL' : 'symbol' : '1.2'}}</td>
                        <td>
                            <button type="button" class="btn btn-success btn-sm mr-2" (click)="selecionarFuncionario(funcionario, template)"><i class="fas fa-pen"></i></button>
                            <button type="button" class="btn btn-danger btn-sm  mr-2" (click)="confirmacao(template_confirmacao, funcionario)"><i class="far fa-trash-alt"></i></button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>


<!-- TEMPLATES -->
<ng-template #template_confirmacao>
    <div class="modal-body text-center">
        <p>Deseja excluir o funcionário {{funcionarioSelecionado.nome}} {{funcionarioSelecionado.sobrenome}}?</p>
        <button type="button" class="btn btn-success m-2" (click)="excluirFuncionario(funcionarioSelecionado.id)">Sim</button>
        <button type="button" class="btn btn-danger m-2" (click)="modalRef.hide()">Não</button>
    </div>        
</ng-template>


<ng-template #template>
    <div class="modal-header">
        <h3>{{(funcionarioSelecionado.id === 0 ? 'Novo Funcionário' : 'Funcionário Cód.: ' + funcionarioSelecionado.id)}}</h3>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form [formGroup]="funcionarioForm">
            <div class="form-group">
                <label for="Nome">Nome:</label>
                <input type="text" placeholder="Nome" aria-label="Nome" formControlName="nome" class="form-control">
            </div>
            <div class="form-group">
                <label for="Sobrenome">Sobrenome:</label>
                <input type="text" placeholder="Sobrenome" aria-label="Sobrenome" formControlName="sobrenome" class="form-control">
            </div>
            <div class="form-group">
                <label for="Sobrenome">Data de Admissão:</label>
                <div class="input-group-append">
                    <input type="text" placeholder="Data de Admissão" formControlName="dataAdmissao" class="form-control" bsDatepicker [bsConfig]="{ isAnimated: true, dateInputFormat: 'YYYY-MM-DD' }">
                    <div class="input-group-text"><i class="far fa-calendar-alt"></i></div>
                </div>
            </div>
            <div class="form-group">
                <label for="Setor">Setor:</label>
                <select class="custom-select" formControlName="setorId">
                    <option *ngFor="let setor of setores" [ngValue]="setor">{{setor.nome}}</option>
                </select>
            </div>
            <div class="form-group">
                <label for="Setor">Escala de trabalho:</label>
                <select class="custom-select" formControlName="escalaId">
                    <option *ngFor="let escala of escalas" [ngValue]="escala">{{escala.escalaTrabalho}}</option>
                </select>
            </div>
            <div class="form-group">
                <label for="CustoVT">Custo Diário VT</label>
                <input type="number" placeholder="0,00" aria-label="Custo diário com vale transporte" formControlName="custoDiarioVT" class="form-control">
            </div>
            <div class="form-group">
                <hr>
                <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                    <div class="btn-group mr-1" role="group" aria-label="First group">
                        <button class="btn btn-sm btn-success" [disabled]="!funcionarioForm.valid" (click)="enviar()">Salvar</button>            
                    </div>
                    <div class="btn-group mr-1 ml-2" role="group" aria-label="Second group">
                        <button class="btn btn-sm btn-danger" aria-label="Close" (click)="modalRef.hide()">Fechar</button>            
                    </div>
                </div>
            </div>
        </form>
    </div>
</ng-template>
